In [1]:
import pandas as pd
import numpy as np
import re 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
life_exp = pd.read_csv('../data/life-expectancy.csv')
life_exp

,Entity,Code,Year,Period life expectancy at birth - Sex: total - Age: 0
0,Afghanistan,AFG,1950,28.1563
1,Afghanistan,AFG,1951,28.5836
2,Afghanistan,AFG,1952,29.0138
3,Afghanistan,AFG,1953,29.4521
4,Afghanistan,AFG,1954,29.6975
...,...,...,...,...
21560,Zimbabwe,ZWE,2019,61.0603
21561,Zimbabwe,ZWE,2020,61.5300
21562,Zimbabwe,ZWE,2021,60.1347
21563,Zimbabwe,ZWE,2022,62.3601
21564,Zimbabwe,ZWE,2023,62.7748

In [3]:
life_exp = life_exp.rename(columns= {
    "Entity": "Country Name", 
    "Code": "Country Code", 
    "Period life expectancy at birth - Sex: total - Age: 0": "Life Expectancy"})
life_exp

      Country Name Country Code  Year  Life Expectancy
0      Afghanistan          AFG  1950          28.1563
1      Afghanistan          AFG  1951          28.5836
2      Afghanistan          AFG  1952          29.0138
3      Afghanistan          AFG  1953          29.4521
4      Afghanistan          AFG  1954          29.6975
...            ...          ...   ...              ...
21560     Zimbabwe          ZWE  2019          61.0603
21561     Zimbabwe          ZWE  2020          61.5300
21562     Zimbabwe          ZWE  2021          60.1347
21563     Zimbabwe          ZWE  2022          62.3601
21564     Zimbabwe          ZWE  2023          62.7748

[21565 rows x 4 columns]

In [4]:
gdp_per_capita = pd.read_csv('../data/gdp_per_cap_Data.csv')
gdp_per_capita

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,8622466,8790140,8969047,9157465,9355514,9565147,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,"Population, total",SP.POP.TOTL,Albania,ALB,1608800,1659800,1711319,1762621,1814135,1864791,...,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2777689,2745972
2,"Population, total",SP.POP.TOTL,Algeria,DZA,11394307,11598608,11778260,11969451,12179099,12381256,...,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969,44903225,45606480
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,20085,20626,21272,21949,22656,23391,...,52217,51368,50448,49463,48424,47321,46189,45035,44273,43914
4,"Population, total",SP.POP.TOTL,Andorra,AND,9443,10216,11014,11839,12690,13563,...,71621,71746,72540,73837,75013,76343,77700,79034,79824,80088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10853,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10854,Last Updated: 11/13/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
gdp_per_capita = gdp_per_capita.drop(columns = ['Series Name', 'Series Code'])
gdp_per_capita

,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,8622466,8790140,8969047,9157465,9355514,9565147,9783147,10010030,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,Albania,ALB,1608800,1659800,1711319,1762621,1814135,1864791,1914573,1965598,...,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2777689,2745972
2,Algeria,DZA,11394307,11598608,11778260,11969451,12179099,12381256,12613389,12897115,...,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969,44903225,45606480
3,American Samoa,ASM,20085,20626,21272,21949,22656,23391,24122,24848,...,52217,51368,50448,49463,48424,47321,46189,45035,44273,43914
4,Andorra,AND,9443,10216,11014,11839,12690,13563,14546,15745,...,71621,71746,72540,73837,75013,76343,77700,79034,79824,80088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
gdp_per_capita = gdp_per_capita.head(217)
gdp_per_capita

,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,8622466,8790140,8969047,9157465,9355514,9565147,9783147,10010030,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,Albania,ALB,1608800,1659800,1711319,1762621,1814135,1864791,1914573,1965598,...,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2777689,2745972
2,Algeria,DZA,11394307,11598608,11778260,11969451,12179099,12381256,12613389,12897115,...,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969,44903225,45606480
3,American Samoa,ASM,20085,20626,21272,21949,22656,23391,24122,24848,...,52217,51368,50448,49463,48424,47321,46189,45035,44273,43914
4,Andorra,AND,9443,10216,11014,11839,12690,13563,14546,15745,...,71621,71746,72540,73837,75013,76343,77700,79034,79824,80088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,32500,34300,35000,39800,40800,43500,46200,49100,...,107882,107712,107516,107281,107001,106669,106290,105870,105413,104917
213,West Bank and Gaza,PSE,..,..,..,..,..,..,..,..,...,4173398,4270092,4367088,4454805,4569087,4685306,4803269,4922749,5043612,5165775
214,"Yemen, Rep.",YEM,5542459,5646668,5753386,5860197,5973803,6097298,6228430,6368014,...,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614,34449825
215,Zambia,ZMB,3119430,3219451,3323427,3431381,3542764,3658024,3777680,3901288,...,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125,20017675,20569737
216,Zimbabwe,ZWE,3806310,3925952,4049778,4177931,4310332,4447149,4588529,4734694,...,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524,16320537,16665409

In [7]:
#gdp_per_capita.to_csv('capstone_gdp.csv')

In [9]:
pd.melt(gdp_per_capita, id_vars=['1960 [YR1960]'], value_vars=['8622466'])

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['8622466']"

In [ ]:
#pandas melt

In [ ]:
#https://pandas.pydata.org/docs/reference/api/pandas.melt.html

In [ ]:
#https://www.geeksforgeeks.org/python-pandas-melt/